Умение работать с фреймоворком Django. Умение работать с MySQL / PostgreSQL, REST API, Docker, Dockercompose, Redis. Будет плюсом: опыт работы...
Вы вежливый и спокойный в общении. Справляетесь с высокой нагрузкой.
None
Вы вежливый и спокойный в общении. Справляетесь с высокой нагрузкой.
Высшее образование. Уверенное знание языка и библиотек Python 3.8. Знание алгоритмов и структур данных. Опыт промышленной разработки на Python...
None
Высшее техническое/математическое (достаточно одного бакалавриата/магистратуры) оконченное. Продвинутое понимание  Python, Django, DRF, а также большое желание изучать и осваивать...
Понимание Agile и его основных принципов. Опыт работы с языком программирования Python от 2х лет. Опыт работы с Django...
3 года опыта в разработке ПО в качестве BackEnd разработчика Python. Опыт проектирования вебприложения с нуля. Опыт работы с...
Высшее профильное образование. Умение разбираться в чужом коде. Опыт разработки сложных проектов. Опыт на python3 (pep8) от полугода...
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
Опыт разработки на Python (3.8 и выше). Уверенное знание принципов ООП и основных шаблонов проектирования. Опыт разработки пользовательского интерфейса...
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
None
Python / Django (3 лет опыта коммерческой разработки). English B1 и выше. Понимание SQL. Знание Design Patterns. Опыт работы с...
Опыт вебразработки от одного года, программирования не менее трёх лет. Умение разбираться в чужом коде. Опыт разработки сложных проектов. 
HTML/HTML5‚ CSS‚ jQuery, AJAX‚ JavaScript, препроцессоры – уверенные знания, опыт адаптивной вёрстки. Опыт работы с JavaScript (Vanila и jQuery). 
Опыт работы  от 3 лет.  SQL.  Опыт взаимодействия с REST API.
